.raterStar {
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(215, 18%, 25%);
  color: var(--light-grey);
  transition: all 0.3s ease;
  font-weight: 700;
}

h2 {
  margin: 20px 0;
}

p {
  color: var(--light-grey);
  line-height: 1.5;
  font-size: 14px;
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
  cursor: pointer;

  & .raterStar:hover {
    color: var(--dark-blue);
    background-color: var(--white);
  }

  & .raterStar.chosen {
    color: var(--dark-blue);
    background-color: var(--orange);
  }
}

button {
  width: 100%;
  background-color: var(--orange);
  color: var(--dark-blue);
  border-radius: 25px;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px 0;

  &:hover {
    background-color: var(--white);
  }
}
